# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.env
*.db
*.db-journal

# Node
node_modules/
dist/
.cache/

# Logs
logs/
*.log

# Docker
.dockerenv

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Secrets
*.pem
*.key
secrets/
